{% assign productTags = product.tags | join: ',' %}
<div class='collection__item-clean rel' data-module='collectionItem'>

  {% if heading %}
    <h4 class="serif ac">{{ heading }}</h4>
  {% endif %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  <script class='js-product-json' type='text/template'>
            {
                "selectedOrFirstAvailableVariant": {{ current_variant.id | json }},
                "product": {{ product | json }}
            }
  </script>
  <div class='collection__item_info-wrapper'>
    <a href="{{ product.url }}" class='rel collection__item_image'>

      {% assign flag = product.metafields.sf_extended_informat.collection_flag %}
       {% if product.tags contains "__20off" %}
           <div class="eof_bnsbadgess">20% OFF</div>
           {% else %}
      {% if flag %}
        <div class='collection__flag-wrapper flag'>
          <h5> {% if cart.currency.iso_code == "USD" and product.price_min >= 7500  %} {{ flag }} + FREE SHIPPING {% else %} {{ flag }} {% endif %}</h5>
        </div>
      {% endif %}
      {% if offer %}
        <div class='collection__flag-wrapper offer'>
          <h5>  {% if cart.currency.iso_code == "USD" and product.price_min >= 7500  %} {{ offer }} + FREE SHIPPING {% else %} {{ offer }} {% endif %}</h5>
        </div>
      {% endif %} 
         
         {% endif %}{%  comment %}
         {% if product.tags contains "__bundle_product" %}
          {% if product.handle == "clear-skin-kit-3" %}
           <div class="eof_bnsbadgess">43% OFF</div>
          {% elsif product.handle == "superbalm-trio-kit-vanilla-toffee-plum" or product.handle == "hydration-heroes-holiday-kit"  %}
            <div class="eof_bnsbadgess">40% OFF</div>
            {% elsif product.handle == "blume-babies" %}
             <div class="eof_bnsbadgess">SOLD <br>OUT</div>  
           {% else %}
            <div class="eof_bnsbadgess">30% OFF</div>
          {% endif %} 
         {% endif %}{% endcomment %}
      {% assign hover__image = product.metafields.sf_extended_informat.image %}
      {% assign c_hover = product.metafields.sf_extended_informat.collection_hover_image %}
      {% if hover__image %}
        <div class="collection__item_image-wrapper">
          {% if c_hover %}
            {% include 'image' with src: c_hover, size: '600x', alt: product.title | escape, fill: true, className: 'collection__hover_image' %}
          {% else %}
            {% include 'image' with src: hover_image, size: '600x', alt: product.title | escape, fill: true, className: 'collection__hover_image' %}
          {% endif %}
        </div>
      {% endif %}
      {% if product_image %}
        <div class="collection__item_image-wrapper {% if hover__image %}has-hover{% endif %}">
          <img alt="{{ product.title }}" class="lazyload" data-src="{{ product_image | img_url: '880x800' }}">
        </div>
      {% else %}
        <div class="collection__item_image-wrapper {% if hover__image %}has-hover{% endif %}">
          <img alt="{{ product.title }}" class="lazyload" data-src="{{ product.featured_image.src  | img_url: '880x800' }}">
        </div>
      {% endif %}
    </a>

    
      <div class='collection__item-details'>
        <h3 class='collection__item-title medium serif mb0 mt0'>
          <a href="{{ product.url }}">
            {% if prodTitle %}
              {{ prodTitle }}
            {% else %}
              {{ product.title }}
            {% endif %}
          </a>
        </h3>

        <div class='collection__item-description'>
            {% assign kicker = product.metafields.sf_extended_informat.kicker %}
          {% if alt_description != blank %}
            <h5 class='{% if productTags contains 'no-add' %}none{% endif %}'>{{ alt_description }}</h5>
          {% else %}
            {% if kicker %}
              <h5 class='{% if productTags contains 'no-add' %}none{% endif %}'>{{ kicker }}</h5>
            {% endif %}
          {% endif %}
        </div>
        {% render 'junip-product-summary', product: product %}
      </div>
    </div>
    {% comment %}<div class='atc-button collection_item_atc_button {% if productTags contains 'no-add' %}none{% endif %}'>
      <a href=''
        class='btn js-add-to-cart'
        {% if subscription_variant %}
        data-subscription-variant="{{ subscription_variant }}"
        {% endif %}
        {% if subscription_discount %}
        data-subscription-discount="{{ subscription_discount }}"
        {% endif %}
        >
            Add to Cart&nbsp;—&nbsp;<span>${{ current_variant.price | money_without_currency }}</span>
        </a>
    </div>{% endcomment %}
  {% if product.tags contains "__oos" %}
      <div class='atc-button collection_item_atc_button {% if productTags contains 'no-add' %}none{% endif %}'>
        <a href="{{ product.url }}" class="btn btn__outline bold fill-x">Out Of Stock </a>
      </div> 
  {% elsif product.tags contains "__preorder" or product.tags contains "pre-order" or product.tags contains "__pre_order"  or product.tags contains "__mix-match" or product.tags contains "__no_quick_shop" %}
      <div class='atc-button collection_item_atc_button {% if productTags contains 'no-add' %}none{% endif %}'>
        <a href="{{ product.url }}" class="btn btn__outline bold fill-x">Shop Now - {{ product.variants.first.price | money }} </a>
      </div>
    
      {% else %}
       <div class='atc-button collection_item_atc_button {% if productTags contains 'no-add' %}none{% endif %}'>
        <button onclick="addItemToCart({{ product.variants.first.id }},1);" class="btn btn__outline bold fill-x">Add to cart - {{ product.variants.first.price | money }} </button>
      </div>
      {% endif %}
</div>