<div class="container--l mha px1 z1 rel">
  <div class="gg-story__container">
    <div class="gg-story__content">
      <h2 class="serif mt0">{{ heading }}</h2>
      <p>{{ description }}</p>
      <div class="show__tablet">
        <a class="btn btn__outline bold cw" href="{{ button_link }}">{{ button_cta }}</a>
      </div>
    </div>
    <div class="gg-story__image">
      <img class="lazyload" data-src="{{ image | img_url: '600x' }}">
    </div>
    <div class="hide__tablet mt2">
      <a class="btn btn__outline bold cw" href="{{ button_link }}">{{ button_cta }}</a>
    </div>
  </div>
</div>

<div class="gg-story__blob abs right bottom">
  <svg width="407" height="757" viewBox="0 0 407 757" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M-2.10156e-05 480.78C-3.69787e-05 845.974 13.2352 743.866 13.2352 743.866L407 743.866L407 1.77905e-05C407 1.77905e-05 -5.05248e-06 115.587 -2.10156e-05 480.78Z" fill="#BCE0E9"/>
  </svg>
</div>

