<div class='product__hero_bg bg-p rel js-product-hero' data-id="{{ product.selected_or_first_available_variant.id }}">
  <div class='container--xl mha' data-section-id="{{ section.id }}" data-module="product"
    data-enable-history-state="true">

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- include 'bold-variant' with current_variant, output: 'none' -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

    <script class='js-product-json' type='text/template'>
      {
        "selectedOrFirstAvailableVariant": {{ current_variant.id | json }},
        "product": {{ product | json }},
        "sku": {{ current_variant.sku | json }}
      }
    </script>
    <div class='product__wrapper'>
      {% assign pdp__hero = product.metafields.sf_extended_informat.pdp_hero %}
      {% if product.handle contains 'all-in-skin' %}
        {% include 'product-slideshow-growth' %}
      {% else %}
        {% include 'product-slideshow' %}
      {% endif %}
      <div class='product__description __desktop px2'>
        <div>
          <div class='js-review-jump'>
            {% render 'junip-product-summary', product: product %}
          </div>
          {% if product.variants.size == 1 %}

          <div data-price-wrapper>

            {% if product.compare_at_price_max > product.price %}
              {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | money }}{%- endcapture -%}
              
            {% comment %}<span class="visually-hidden " data-compare-text>{{ 'products.product.regular_price' | t }}</span> {% endcomment %}
              <span class="product__price"> {{ product.price  | money }} </span>
            <s data-compare-price>
              {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
              <span class="product__savings"> SAVE {{ saved_amount }}</span>
            {% endif %} 

          </div>
            {% else %}
           <div data-price-wrapper>
             
             {% if product.compare_at_price_max > product.price %}
              {%- capture saved_amount -%}{{ product.compare_at_price | minus: product.price | money }}{%- endcapture -%}
              
            {% comment %}<span class="visually-hidden " data-compare-text>{{ 'products.product.regular_price' | t }}</span> {% endcomment %}
              <span class="product__price" id="cutnshhs"> {{ product.price  | money }} </span>
            <s data-compare-price id="cutnshts">
              {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
              <span class="product__savings" id="cutnsjts"> SAVE {{ saved_amount }}</span>
            {% endif %} 
            </div>
            
          {% endif %}
        </div>
        <h1 class='serif mx0 pv0 product__title  '>
          {% if product.title contains '(Subscription)' %}
            {% assign prodTitle = product.title | split: ' (' | first %}
            {{ prodTitle }}
          {% else %}
            {{ product.title }}
          {% endif %}
        </h1>

        <div class="rte">
          {% assign kicker = product.metafields.sf_extended_informat.kicker %}
         {% comment %} {% if kicker %}
          <h2 class='h5 mx0 pv05'>{{ kicker }}</h2>
          {% endif %}{% endcomment %}
        
          {% comment %}<div class="dsk_on"> {{ product.description }}</div>{% endcomment %}
        
          {% if product.handle == 'clear-skin-kit-3' %} 
          <div class="  rte" style=" max-width: 485px; ">
            <h2 class="h5 mx0 pv05">Leave Hormonal Acne Behind and Get Clear Skin</h2>
            <p style="margin:0;">Meet our hormonal acne fighting trio, bundled as a 3 step routine for a complete 90 day routine of our clean, results driven skin care routine.</p>
            <ul>
              <li style=" font-size: 16px; "><strong>90 Day Trial: </strong> Less than $.80 / day</li>
              <li style=" font-size: 16px; "><strong>Key Benefits: </strong> Cleanses, fights hormonal acne, hydrates skin</li>
              <li style=" font-size: 16px; "><strong>Results in 90 days,</strong>  or your money back! No Questions Asked!</li>
            </ul>
    
             </div>
            {% endif %}

          {% if product.handle == 'mothers-day-bundle' %} 
          <div class="  rte" style=" max-width: 485px; ">
            <h2 class="h5 mx0 pv05">The Perfect Gift for Every Mom</h2>
            <p style="margin:0"><strong>✨Limited Edition Mother’s Day Bundle ✨</strong><br> 
            Because Mom gives so much - now it’s her turn to be pampered. This limited-edition bundle is the perfect way to say thank you for all she does. Grab one before it’s gone! 
            </p> 
             </div>
            {% endif %}
        </div>

        

        <div>
          {% if product.tags contains 'always-price' %}
          <div>
            <span data-product-price>
              {{ current_variant.price | money }}
            </span>
          </div>
          {% endif %} 
          <style>
            /*.jcb.fw.mha.aic {display: none;}*/ .mha.px2.phm4.rel , #blob , .pv1.product__included.pm60 {display: none;}
          </style>
          <div class='mt2 mb1'>
            {% unless product.tags contains "free-sample" %}
              {% comment %}
              {% if product.handle == 'clear-skin-kit-3' %}
              <a href="/cart/47735084024001:1?note=clear-skin-kit-ama-cskv2" class="js-submit-cart btn ml05 btn__blue bold mt0" style="max-width: 400px; margin: 0;">
                <span style=" font-size: 15px; color: #ddd; font-weight: 400; "><strong style=" font-size: 22px; ">SHOP NOW </strong> - $75 <s>$107</s>
              </span> <br><span style=" font-size: 14px; font-weight: 400; ">100% Satisfaction Guarantee</span></a>
              {% elsif product.handle == 'mothers-day-bundle' %}
                <a href="/cart/49238603464897:1?note=mothers-day-ama-v2" class="js-submit-cart btn ml05 btn__blue bold mt0" style="max-width: 400px;"><strong>SHOP NOW </strong> $64 <s>$92</s></a>
                {% else %}
                {% render 'add-to-cart-form' %}
              {% endif %}
            {% endcomment %} 

             {% comment %} AMAIS -- Added Pre order Tag {% endcomment %}
              {% if product.tags contains "__preorder" or product.tags contains "pre-order" or product.tags contains "__pre_order" %}
               <button onclick="addPreorderVariantToCart(47735084024001)" class=" btn ml05 btn__blue bold mt0" style="max-width: 385px;">{{ product.first_available_variant.price | money }} PRE-ORDER NOW </button>
                <script>
                  function addPreorderVariantToCart(variantId) {
                           
                          const cartAttributes = {
                            'Pre-order': 'clear-skin-kit-3'
                          }; 
                          const lineItemProperties = {
                            'pre-order': '{% if product.metafields.custom.pre_order_statement != blank %} {{ product.metafields.custom.pre_order_statement }}{% else %}True{% endif %}'
                          }; 
                          const cartData = {
                            items: [
                              {
                                id: variantId,
                                quantity: 1,
                                properties: lineItemProperties
                              }
                            ],
                            attributes: cartAttributes
                          }; 
                          fetch('/cart/add.js', {
                            method: 'POST',
                            headers: {
                              'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(cartData)
                          })
                          .then(response => response.json())
                          .then(data => {
                            console.log('Item added to cart:', data); 
                            //window.location.href = '/cart';
                          })
                          .catch(error => {
                            console.error('Error adding item to cart:', error); 
                          });
                        }
                       </script>

                <div class="gift-banner-container" id="gwpwrap">
                    <div class="gift-banner-image">
                        <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/sunburst-1_60x120_crop_center.png?v=1752110623" style=" animation: beat 3s ease-in-out infinite; " alt="Free Gift">
                    </div>
                    <div class="gift-banner-text">FREE Sunburst Mineral SPF 50 Sunscreen ($32 Value)!<br>
                        <span class="gift-banner-subtext"> Order by July 31 for guaranteed FREE Gift + exclusive discount! <em style=" font-size: 17px;font-weight: 900; ">Total Savings $64</em> <br>
                       <!-- <span class="cskgwp-tooltip" style=" display: block; margin: 6px 0; "><span class="cskgwp-highlight">Why This Gift is a Game-Changer</span>
                            <span class="cskgwp-tooltiptext"> 
                            
                            Your Clear Skin Kit is a daily ritual for balanced, soothed, and breakout-free skin. But great skin starts with a deep reset—that’s where the Superpower Clay Mask comes in.
<br> <br> 
✔️ 1-2x weekly detox to draw out impurities (the secret to long-term clarity!)<br>
✔️ Pore-refining power to prep skin for your Clear Skin Kit’s daily magic<br>
✔️ Instant glow while your kit works its long-term balancing act <br>
                            
                            </span>
                          </span> -->
                        </span>
                    </div>
                </div>
                <style>
                                     
                    @keyframes beat {
                      0%, 50%, 100% { transform: scale(1, 1); }
                      30%, 80% { transform: scale(0.92, 0.95); }
                    }
                    
                    @keyframes pulse {
                      0%, 50%, 100% {  background: #fee; }
                      30%, 80% { background: #fff; }
                    }
                  .gift-banner-container { display: flex ; flex-direction: row; align-items: center; position: relative; margin-bottom: -10px; max-width: 450px; margin-top: 10px; }
                  .gift-banner-image { display: block; position: relative; z-index: 2; } 
                  .gift-banner-text { display: block; position: absolute; background: #f6ebff; font-size: 16px; font-weight: 900; left: 25px; padding: 5px 10px 4px 30px; z-index: 1; color: #001e42; margin-right: 50px;line-height: 1.4; }
                  .gift-banner-subtext { font-weight: 400; font-size: 15px; display: block; line-height: 1.1 !important; }
                </style>
                <style> /* Tooltip container */ .cskgwp-tooltip { position: relative; display: inline-block; cursor: pointer; border-bottom: 1px dotted #ff85a2; /* Blume brand pink */ } /* Tooltip text */ .cskgwp-tooltip .cskgwp-tooltiptext { visibility: hidden; width: 220px; background-color: #001e42; color: #fff; text-align: left; border-radius: 4px; padding: 12px; position: absolute; z-index: 1000; bottom: 125%; left: 50%; transform: translateX(-50%); opacity: 0; transition: all 0.3s ease;  font-size: 13px; line-height: 1.4; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); } /* Tooltip arrow */ .cskgwp-tooltip .cskgwp-tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -8px; border-width: 8px; border-style: solid; border-color: #333 transparent transparent transparent; } /* Show tooltip on hover */ .cskgwp-tooltip:hover .cskgwp-tooltiptext { visibility: visible; opacity: 1; } /* Highlight style for the trigger text */ .cskgwp-highlight { color: #311450; font-weight: 600; } </style> 

                
              <div style="margin: 10px 0;padding: 10px;max-width: 400px;background: #f4fcff;border: 1px solid #90cbf3;border-radius: 4px;font-size: 14px;"> <strong style="color: #001e42;"> ℹ️ 3x Sold Out—Next Batch Ships in 2 Weeks! </strong>  We’re hustling to get yours out ASAP! Thank you for the love & patience.  Pre-order yours now (free $32 sunscreen included) before we run out again. <br> *Please note: If your order includes multiple items, everything will ship together once the pre-order is ready.   </div>
            
              {% else %}
                {% render 'add-to-cart-form' %}
                <div>
                </div>
              {% endif %} 

            
            {% endunless %}
            {% comment %} <div class='f jcs aic'>
              <a href="mailto:friend@email.com?subject=I'd Like to introduce you to Blume!&body=Hello!%0A%0AWe%E2%80%99re%20Blume%20(https%3A%2F%2Fwww.blume.com).%20We%20provide%20safe%2C%20sustainable%20period%20and%20self-care%20products%20for%20women%20and%20girls%20who%20believe%20in%20the%20power%20of%20their%20choices.%20And%20she%20asked%20us%20to%20pass%20you%20along%20a%20message%20because%20they%E2%80%99re%20interested%20in%20trying%20us%20out.%0A%0A%0A%0AA%20bit%20about%20us%E2%80%A6%0A%0AFEMALE%20FOUNDED%0ATaran%20and%20Bunny%20are%20two%20sisters%20who%20created%20Blume%20with%20the%20dream%20of%20de-stigmatizing%20periods%20and%20creating%20the%20next%20generation%20of%20confident%2C%20tenacious%20and%20conscious%20women.%0A%0ANON-TOXIC%0AMost%20brands%20carry%20period%20products%20that%20take%20centuries%20to%20biodegrade%20and%20have%20ingredients%20you%20can%E2%80%99t%20pronounce.%20At%20Blume%2C%20we%E2%80%99re%20different.%20From%20tampons%20and%20pads%20to%20deodorant%20and%20a%20collection%20of%20other%20self-care%20items%2C%20we%20believe%20in%20products%20that%20are%20not%20a%20threat%20to%20our%20bodies%20or%20the%20environment.%0A%0ACOMMUNITY%0AWe%E2%80%99re%20building%20young%20women%20a%20safe%20space%20to%20learn%2C%20grow%2C%20and%20become%20their%20bad%20ass%20selves.%20A%20place%20to%20celebrate%20womanhood%20and%20give%20advice%20on%20the%20good%2C%20the%20bad%20and%2C%20yes%2C%20even%20the%20ugly%20that%20comes%20with%20it.%20Shopping%20at%20Blume%20means%20joining%20a%20community%20that%20thrives%20on%20female%20empowerment%20and%20positivity.%0A%0ASound%20good%3F%20Learn%20more%20at%20https%3A%2F%2Fwww.blume.com%20or%20shop%20our%20all-natural%20products.%20We%20think%20it%E2%80%99ll%20make%20her%20super%20happy.%0A%0A%0ALove%2C%0ABlume%0A"
                class="underline">Share Blume</a>
              <div class='ml05 product__share-tool rel js-share-tool' data-module='share'>
                <span class='abs top left x y ac z1'>?</span>
              </div>
            </div> {% endcomment %}
          </div>
        {% comment %}
           <div class="bctacountdown">
            <p style="text-align: center;background: #fff;padding: 5px 0px;color: #111;max-width: 400px;"><strong style=" color: #001e42; ">BLACK FRIDAY SALE</strong> <br>
              <span style="font-size:13px;">SHOP NOW AND SAVE UP TO 50% OFF SITEWIDE</span> 
              <br> ENDING IN:   
            
            <span id="bctatimerx" style=" display: block; font-size: 20px; font-weight: 600; color: #fa0800; "></span>
            </p>
            </div>
            <script>var countDownDate=new Date("Dec 4, 2024 23:59:00").getTime(),x=setInterval(function(){var now=new Date().getTime(),distance=countDownDate-now,totalHours=Math.floor(distance/(1e3*60*60)),minutes=Math.floor((distance%(1e3*60*60))/(1e3*60)),seconds=Math.floor((distance%(1e3*60))/1e3);document.getElementById("bctatimerx").innerHTML="Sale Ending In: "+totalHours+"h "+minutes+"m "+seconds+"s";distance<0&&(clearInterval(x),document.getElementById("bctatimerx").innerHTML="")},1e3);</script>
                      {% endcomment %}
         {% comment %} {% if cart.currency.iso_code == "CAD" %}
                <div class="proud_canadian">🍁 Blume is proudly Canadian and ships from within Canada</div>
          {% endif %}
          {% if cart.currency.iso_code == "USD" and product.handle == "clear-skin-kit-3" %}
                <div class="proud_canadian">Selling fast! This bundle ships free </div>
          {% endif %} {% endcomment %}
          <div class="icons__wrapxx">
           <div class="fsd_valueprops"> 
              <ul><li>Certified Clean</li><li>Cruelty Free</li><li>Vegan</li><li>Dermatologist Tested</li></ul>
            </div>
            <style> .fsd_valueprops { padding: 10px; border-radius: 10px; background: #fff6ee; max-width: 400px; margin: 15px 0 0; } .fsd_valueprops ul { margin: 0; display: flex ; flex-wrap: wrap; justify-content: flex-start; align-content: flex-end; flex-direction: row; padding-left: 0px; } .fsd_valueprops ul li { padding-left: 25px; margin: 0 0 5px; font-size: 14px; background-size: 17px !important; font-weight: 300; display: inline-block; width: 50%; color: ##0e1f40;font-weight: 600; } .fsd_valueprops ul li:nth-child(1) { background: transparent url(https://cdn.shopify.com/s/files/1/0003/4580/0755/t/156/assets/Certified%20Clean.png?v=1737114768) 0px 1px no-repeat; background-size: 25px; } .fsd_valueprops ul li:nth-child(2) { background: transparent url(https://cdn.shopify.com/s/files/1/0003/4580/0755/t/156/assets/cruelty-free.png?v=1737114741) 0px 1px no-repeat; background-size: 25px; } .fsd_valueprops ul li:nth-child(3) { background: transparent url(https://cdn.shopify.com/s/files/1/0003/4580/0755/t/156/assets/vegan.png?v=1737114759) 0px 1px no-repeat; background-size: 25px; } .fsd_valueprops ul li:nth-child(4) { background: transparent url(https://cdn.shopify.com/s/files/1/0003/4580/0755/t/156/assets/test-derma.png?v=1737114750) 0px 1px no-repeat; background-size: 25px; } </style>
          </div>
          
          {% comment %}<div class="mbl_on rte"> {{ product.description }}</div>{% endcomment %}

          {% if product.handle == 'clear-skin-kit-3' %} 
          {% comment %}
          <div style=" margin: 10px 0; padding: 10px; max-width: 460px; background: #FFF9F9FF; border: 1px solid #DD3636FF; border-radius: 4px; "> <strong style=" color: #dd3636; "> ℹ️ SELLING FAST:</strong> We sold out of this product 5x. this product is currently low stock and shipping in 10 business day </div>
          {% endcomment %}
                <div class="  rte" style=" max-width: 485px; ">
            <h2 class="h5 mx0 pv05">3-Step Skincare Routine for Clear Skin</h2>
            <p style="margin:0;">A must-have trio for achieving clear, acne-free skin, the Clear Skin Kit provides a comprehensive 3-step regimen to deeply cleanse (even the toughest dirt like makeup), effectively treat acne, and thoroughly hydrate the skin.</p>
            <ul>
              <li style=" font-size: 15px; background: url(https://cdn.shopify.com/s/files/1/0003/4580/0755/files/Cleanser_with_Meltdown_Gel_Cleanser_200x.png) 0 0 no-repeat; background-size: 90px; padding: 0px 10px 0px 100px; margin: 10px 0;min-height: 90px;display: flex;flex-direction: column;align-content: center;justify-content: center; "><strong>Step 1: </strong> Deep clean with Meltdown Gel Cleanser (6oz) Formulated with green tea leaf extract and salicylic acid to gently exfoliate, deeply clean, and smooth the skin.</li>
              <li style=" font-size: 15px; background: url(https://cdn.shopify.com/s/files/1/0003/4580/0755/files/gel_cream_blume112_200x.png?v=1756948642) 0 0 no-repeat; background-size: 90px; padding: 0px 10px 0px 100px; margin: 10px 0;min-height: 90px;display: flex;flex-direction: column;align-content: center;justify-content: center; "><strong>Step 2:  </strong> Intensely hydrate with Meltdown Gel Cream (1.7oz) Infused with ceramides and pentavitin to provide 72 hours of hydration and skin barrier protection.</li>
              <li style="font-size: 15px;background: url(https://cdn.shopify.com/s/files/1/0003/4580/0755/files/Treat_with_Meltdown_Oil_200x.png) 0 0 no-repeat;background-size: 90px;padding: 0px 10px 0px 100px;margin: 10px 0;min-height: 90px;display: flex;flex-direction: column;align-content: center;justify-content: center;"><strong>Step 3: </strong> Treat acne with Meltdown Acne Oil (1/2oz) Crafted with blue tansy and tamanu oil to calm, clear, prevent, and soothe acne.</li>
            </ul>

                
                <h3 style=" font-size: 20px; font-weight: 900; margin: 20px 0 0; ">Why Clear Skin Kit?</h3>
                <p><strong>Clear Skin Without the Harsh Side Effects </strong>  <br> The only routine on the market that is a clean and natural way to fight your hormonal acne in 3 easy steps.</p>

                <p><strong> A Simple Routine You’ll Actually Stick To </strong>  <br> Made with ceramides to protect and build your skin's natural barrier.</p>
                <p><strong> Supports Your Skin’s Natural Barrier </strong> <br> A simple 3 step regime that takes less than 5 minutes a day</p>
            
                
                <h3 style=" font-size: 20px; font-weight: 900; margin: 20px 0 0; ">"Most customers get results in just a few weeks"</h3>
                  <img class="lazyloadxx" src="https://assets.replocdn.com/projects/d3ed28a8-f6a7-48c8-990f-a1ab9bf9d7ad/c3f11a15-9461-4cf6-8507-74f78ad5bb0b?width=1800">
                 <img class="lazyloadxx" src="https://assets.replocdn.com/projects/d3ed28a8-f6a7-48c8-990f-a1ab9bf9d7ad/10ea4be0-9f33-4042-8760-d84edc4e3860?width=1800">
                 <img class="lazyloadxx" src="https://assets.replocdn.com/projects/d3ed28a8-f6a7-48c8-990f-a1ab9bf9d7ad/dec38ba8-8e6e-4acb-b31b-d580bd0d0925?width=1800"> 
                  <p style=" display: block; font-weight: 900; text-align: center; margin: 0 0 20px; font-size: 18px; ">I tried all of the "clinical, medical-grade" brands and they just dried out my skin </p>
                 <img class="lazyloadxx" src="https://assets.replocdn.com/projects/d3ed28a8-f6a7-48c8-990f-a1ab9bf9d7ad/29612757-cfca-4cd1-a110-3fa93f186d3d?width=1800">
                  <img class="lazyloadxx" src="https://assets.replocdn.com/projects/d3ed28a8-f6a7-48c8-990f-a1ab9bf9d7ad/0b3a10fd-30fb-41c5-9854-a99737f3eacd?width=1800">
                  
                  <style>.lazyloadxx {width:100%;}</style>
                </div>
            {% endif %}
            
              {% if product.handle == 'mothers-day-bundle' %} 
                <div class="  rte" style=" max-width: 485px; "> 
            <p style="margin:0;"><br>Give Mom the gift of self-care with our exclusive Mother’s Day Bundle, featuring three skincare essentials she’ll love:</p>
            <ul>
              <li style=" font-size: 15px; background: url(https://www.blume.com/cdn/shop/files/PhotoPDPs_3_4a05c3b0-6b78-446e-a7b3-e30e9bc84a4f_200x.png) 0 0 no-repeat; background-size: 90px; padding: 0px 10px 0px 100px; margin: 10px 0;min-height: 90px;display: flex;flex-direction: column;align-content: center;justify-content: center; "><strong>Sunburst Mineral SPF 50 – </strong> Keep her glowing while shielding her skin with lightweight, mineral-powered sun protection.</li>
              <li style=" font-size: 15px; background: url(https://cdn.shopify.com/s/files/1/0003/4580/0755/files/Cleanser_with_Meltdown_Gel_Cleanser_200x.png) 0 0 no-repeat; background-size: 90px; padding: 0px 10px 0px 100px; margin: 10px 0;min-height: 90px;display: flex;flex-direction: column;align-content: center;justify-content: center; "><strong>Superbalm Tripeptide Vanilla Cream – </strong> A rich, ultra-soothing lip balm with tripeptides and a soft hint of vanilla to keep her smile hydrated and happy.</li>
              <li style="font-size: 15px;background: url(https://www.blume.com/cdn/shop/files/PhotoPDPs_4_200x.png) 0 0 no-repeat;background-size: 90px;padding: 0px 10px 0px 100px;margin: 10px 0;min-height: 90px;display: flex;flex-direction: column;align-content: center;justify-content: center;"><strong>Meltdown Gel Cleanser – </strong> Melt away the day with this gentle yet effective cleanser, leaving her skin refreshed and radiant.</li>
            </ul>
 
                </div>
            {% endif %}
          
          <div class='mt1'>
            {% include 'banana-stand-product-page-container' %}
          </div>

        </div>
      </div>
    </div>

    {% comment %}

    Commenting out social sharing for now

    {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
    {% endif %}

    {% endcomment %}

    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script> 
    {% endunless %}
  </div>
</div>