<section class='cart-drawer-outer fix fill z10' data-module='cartDrawer'>
  <div class='cart-drawer-overlay abs fill bg-f js-overlay'></div>
  <div class='cart-drawer fill-x abs top right bottom bg-w js-drawer f'>
    <header class='outer fill-x bg-lp abs z5 top left f aic'>
      <div class='f aic rel fill-x'>
        <button class='abs left button--reset js-close'>
          {% include 'icon-chevron' with right: true, className: 'abs mxa fill' %}
        </button>
        <p class='mv0 bold serif s4 ac fill-x'>Your Cart</p>
      </div>
    </header>
    <header class='outer js-upsell-header hidden fill-x bg-lp abs z5 top left f aic'>
      <div class='f aic rel fill-x'>
        <button class='abs left button--reset js-close'>
          {% include 'icon-chevron' with right: true, className: 'abs mxa fill' %}
        </button>
        <p class='mv0 bold serif s4 ac fill-x'>Before you go</p>
      </div>
    </header>
    <div class='cart-drawer__upsell outer js-upsell-drawer hidden outer-v abs z4 fill-y x bg-w'>
      <div class='js-upsell-items rel x'>
        <div class='abs fill'>
          <svg viewBox="0 0 100 86" class='loader abs fill mxa cg'>
            <use xlink:href="#logo"></use>
          </svg>
        </div>
      </div>
      <div class='ac'>
        <h3 class='serif'>We think you'll also love these.</h3>
      </div>
      <div class='x'>
        <button name='skip' class='x no-ajax btn btn__checkout bold js-upsell-skip'>Skip to Cart</button>
      </div>
    </div>
    <div class='cart-drawer__items outer outer--v x fill-y'>
      {% if settings.show_free_shipping_bar %}
        <div class='js-shipping rel x' data-text-one="{{ settings.text_1 }}" data-text-two="{{ settings.text_2 }}" data-minimum-spend="{{ settings.minimum_spend }}"></div>
      {% endif %}
        {% comment %} Insert form here {% endcomment %}
        <div class='js-items rel x'>
          <div class='abs fill'>
            <svg viewBox="0 0 100 86" class='loader abs fill mxa cg'>
              <use xlink:href="#logo"></use>
            </svg>
          </div>
        </div>
        <footer class='outer--v jcb aic'>
          <div class='x'>
            <div class='js-sub x'></div>
          </div>
          <div class='x'>
            <button class='x no-ajax btn btn__checkout bold js-prefill-url'>Checkout</button>
          </div>
          {% comment %}
          <!-- Insert QuadPay Widget --> {% endcomment %}
          <div style="margin:0;line-height: 15px; margin-top: 8px;">
            <quadpay-widget size="80%" logoSize="85%" alignment="center" amountSelector=".js-sub"
              amount={{ cart.total_price | divided_by: 100.00 }}></quadpay-widget>
          </div>
        </footer>
    </div>
    {% comment %} <div class='cart-drawer__upsells abs bottom left x bg-lb'>
      <div class='ac p05'>
        <h5 class='caps small black mb05 pb0'>{{section.settings.upsell_copy}}</h5>
      </div>
      <div class='f aic jcc x pb1 oh'>
        <div class='px05 cart-drawer__arrows f jcc aic js-cart-upsell-left'>
          <svg width="9px" height="15px" viewBox="0 0 9 15" version="1.1">
              <g id="2019-Site-Updates" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                  <polyline id="chevron-left" stroke="#1F4068" stroke-width="2" points="7.27734375 13.0507812 1.27734375 7.05078125 7.27734375 1.05078125"></polyline>
              </g>
          </svg>
        </div>
        <div class='js-cart-slideshow cart-drawer__upsells-slideshow x'>
          {% for block in section.blocks %}
            {% include 'cart-upsell-item' %}
          {% endfor %}
        </div>
        <div class='px05 cart-drawer__arrows f jcc aic right js-cart-upsell-right'>
          <svg width="9px" height="15px" viewBox="0 0 9 15" version="1.1">
            <g id="2019-Site-Updates" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
              stroke-linejoin="round">
              <polyline id="chevron-left" stroke="#1F4068" stroke-width="2"
                points="7.27734375 13.0507812 1.27734375 7.05078125 7.27734375 1.05078125"></polyline>
            </g>
          </svg>
        </div>
      </div>
    </div> {% endcomment %}
  </div>
</section>

{% include 'subscription-cart-footer' %}


{% schema %}
  {
    "name": "Cart Drawer",
    "settings": [
      {
        "type": "text",
        "id": "upsell_copy",
        "label": "Upsell Text",
        "default": "Complete your routine"
      }
    ],
    "blocks": [
      {
        "type": "upsell_products",
        "name": "Upsell Products",
        "limit": 3,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}