<section class="bg-lp customer-testimonials">
  <div class="wrapper">  
      <h2 class="serif bold heading h3">{{ section.settings.heading }}</h2>
      <div class="testimonials">
        {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                <div class="testimonial">
                  <div class="testimonial-stars">
                    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img"><title>Filled star</title><path d="m3.2 16.0001081c-.1687782 0-.33328968-.0531313-.47-.1521081-.24051968-.174488-.36451194-.4679107-.322-.762l.743-5.203-2.917-2.917c-.21191095-.21196521-.28756133-.52460199-.196-.81.09130759-.2851682.3345701-.49522345.63-.544l4.398-.734 2.218-4.435c.13744692-.27145241.41573373-.4426761.72-.443.3045618.00166772.58175678.1761261.715.45l2.123 4.362 4.498.801c.2933158.05211246.5333796.26289081.623.547.0898959.28455453.0135125.59548872-.198.806l-2.917 2.917.744 5.203c.042199.2957461-.0839008.5903645-.327.764-.2421349.1739598-.5609835.1986349-.827.064l-4.382-2.22-4.502 2.223c-.10996656.0547452-.23116004.0831081-.354.0831081z" fill="var(--white)"></path></svg>
                    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img"><title>Filled star</title><path d="m3.2 16.0001081c-.1687782 0-.33328968-.0531313-.47-.1521081-.24051968-.174488-.36451194-.4679107-.322-.762l.743-5.203-2.917-2.917c-.21191095-.21196521-.28756133-.52460199-.196-.81.09130759-.2851682.3345701-.49522345.63-.544l4.398-.734 2.218-4.435c.13744692-.27145241.41573373-.4426761.72-.443.3045618.00166772.58175678.1761261.715.45l2.123 4.362 4.498.801c.2933158.05211246.5333796.26289081.623.547.0898959.28455453.0135125.59548872-.198.806l-2.917 2.917.744 5.203c.042199.2957461-.0839008.5903645-.327.764-.2421349.1739598-.5609835.1986349-.827.064l-4.382-2.22-4.502 2.223c-.10996656.0547452-.23116004.0831081-.354.0831081z" fill="var(--white)"></path></svg>
                    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img"><title>Filled star</title><path d="m3.2 16.0001081c-.1687782 0-.33328968-.0531313-.47-.1521081-.24051968-.174488-.36451194-.4679107-.322-.762l.743-5.203-2.917-2.917c-.21191095-.21196521-.28756133-.52460199-.196-.81.09130759-.2851682.3345701-.49522345.63-.544l4.398-.734 2.218-4.435c.13744692-.27145241.41573373-.4426761.72-.443.3045618.00166772.58175678.1761261.715.45l2.123 4.362 4.498.801c.2933158.05211246.5333796.26289081.623.547.0898959.28455453.0135125.59548872-.198.806l-2.917 2.917.744 5.203c.042199.2957461-.0839008.5903645-.327.764-.2421349.1739598-.5609835.1986349-.827.064l-4.382-2.22-4.502 2.223c-.10996656.0547452-.23116004.0831081-.354.0831081z" fill="var(--white)"></path></svg>
                    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img"><title>Filled star</title><path d="m3.2 16.0001081c-.1687782 0-.33328968-.0531313-.47-.1521081-.24051968-.174488-.36451194-.4679107-.322-.762l.743-5.203-2.917-2.917c-.21191095-.21196521-.28756133-.52460199-.196-.81.09130759-.2851682.3345701-.49522345.63-.544l4.398-.734 2.218-4.435c.13744692-.27145241.41573373-.4426761.72-.443.3045618.00166772.58175678.1761261.715.45l2.123 4.362 4.498.801c.2933158.05211246.5333796.26289081.623.547.0898959.28455453.0135125.59548872-.198.806l-2.917 2.917.744 5.203c.042199.2957461-.0839008.5903645-.327.764-.2421349.1739598-.5609835.1986349-.827.064l-4.382-2.22-4.502 2.223c-.10996656.0547452-.23116004.0831081-.354.0831081z" fill="var(--white)"></path></svg>
                    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" role="img"><title>Filled star</title><path d="m3.2 16.0001081c-.1687782 0-.33328968-.0531313-.47-.1521081-.24051968-.174488-.36451194-.4679107-.322-.762l.743-5.203-2.917-2.917c-.21191095-.21196521-.28756133-.52460199-.196-.81.09130759-.2851682.3345701-.49522345.63-.544l4.398-.734 2.218-4.435c.13744692-.27145241.41573373-.4426761.72-.443.3045618.00166772.58175678.1761261.715.45l2.123 4.362 4.498.801c.2933158.05211246.5333796.26289081.623.547.0898959.28455453.0135125.59548872-.198.806l-2.917 2.917.744 5.203c.042199.2957461-.0839008.5903645-.327.764-.2421349.1739598-.5609835.1986349-.827.064l-4.382-2.22-4.502 2.223c-.10996656.0547452-.23116004.0831081-.354.0831081z" fill="var(--white)"></path></svg>
                  </div>
                  
                  <div>{{ block.settings.paragraph }}</div>   
                  <div>{{ block.settings.name | prepend: ' ' | prepend: '—' }}</div>
                </div>
                {% endfor %}
        {% endif %}
      </div>
      <a class="cta-link caps" href="{{ section.settings.link }}">{{ section.settings.link_text }}</a>
  </div>
</section>


{% schema %}
  {
    "name": "Customer Testimonial",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Customer Testimonials"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link Text",
        "default": "Read More Testimonials"
      },  
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "paragraph",
            "label": "Testimonial Paragraph"
          }, {
            "type": "text",
            "id": "name",
            "label": "Testimonial Name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Customer Testimonial"
      }
    ]
  }
{% endschema %}