<footer class='bg-f pv1 pm60 px2 phm4' data-module='footer'>
  <div class='container--xl mha rel pv2'>
    <div class='footer__head f jcb aie'>
      <div class='cw footer__logo'>
        <a href='/'>
          {% include 'blume-logo' %}
        </a>
      </div>
    </div>
    <div class='f fw jcb pv2'>
      <div class='footer__block'>
        {% if linklists.footer_menu_shop.links.size > 0 %}
          <p class='bold cw footer__header'>Shop</p>
          <ul class='footer__build'>
            {% for link in linklists.footer_menu_shop.links %}
              <li><a class='cw small' href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class='footer__block'>
        {% if linklists.footer_menu_learn.links.size > 0 %}
          <p class='bold cw footer__header'>Learn</p>
          <ul>
            {% for link in linklists.footer_menu_learn.links %}
              <li><a class='cw small' href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class='footer__block'>
        {% if linklists.footer_menu_contact.links.size > 0 %}
          <p class='bold cw footer__header'>Contact</p>
          <ul>
            {% for link in linklists.footer_menu_contact.links %}
              <li><a class='cw small'  href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            <li class='onetrust-btn cw small'><button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</button></li>
          </ul>
        {% endif %}
      </div>
      <div class='cw newsletter__footer footer__newsletter rel pt1'>
        <p class='bold cw footer__header pv1 mx0 '>Get Updates &amp; More</p>
        {% include 'newsletter-form' %}
        <div class='container--m footer__newsletter-social mt1 pt05'>
          {% include 'social-sharing' %}
        </div>
      </div>
    </div>
    <div class='f jcb aic fw blume__j-wrap'>
      <small class='cw'>
        <img class='blume_j lazyload' data-src="{{ 'judy.static.png' | asset_url }}" />
      </small>
      <small class='cw site__by m_hide'>Site by <a href='https://thecouch.nyc' class='cw'>The Couch</a></small>
    </div>
  </div>
</footer>

