<!--
  Considerations for the header:
    1. Schema.org tags
      - <h1 itemscope itemtype="http://schema.org/Organization">
      - itemprop [url, logo] etc
-->
<div data-section-id="{{ section.id }}" data-module="header">
  {% comment %}  AMA - Header custom announcement {% endcomment %}
   
  {% comment %}<div id="announcement_ama" class="announcement_ama"><a href="/pages/shop">HOLIDAY SALE IS ON: shop up to 50% off site wide
  
   <span id="bctatimery" style="margin-left: 5px; display: inline-block;font-size: 13px;font-weight: 800;color: #b10b0a;text-align:center;background: #fff;padding: 5px 8px;text-transform: uppercase;"> </span>
    <script> var countDownDate = new Date("Dec 1, 2025 23:59:00").getTime(); var x = setInterval(function() { var now = new Date().getTime(); var distance = countDownDate - now; var days = Math.floor(distance / (1000 * 60 * 60 * 24)); var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)); var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)); var seconds = Math.floor((distance % (1000 * 60)) / 1000); document.getElementById("bctatimery").innerHTML = "Ending In: " + days + "D : " + hours + "H : " + minutes + "M : " + seconds + "M"; if (distance < 0) { clearInterval(x); document.getElementById("bctatimery").innerHTML = "EXPIRED"; } }, 1000); </script><style>#announcement_ama { text-align: center; background: #ad0606; color: #fff; line-height: 13px; padding: 10px 0 5px; } .is-scrolled .announcement_ama {display: none;}</style>
    
   
    </a> </div>{% endcomment %}
    
  <header role="banner" id='header' class='header__main js-header-main fix {% if product %} header__product {% endif %} fit fill-x' style="z-index: 501;">
    
    {% if settings.discount_code_enable and cart.currency.iso_code == "USD" %}
      <div class='f jcc px05 header__discount hidden bg-lp js-discount'>
        <div class='container--xl fill-x ac rel flex'>
          {% comment %}<span class='small light'>{{settings.discount_code_text}}  
          <div class='js-close header__discount_close'>
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g id="All-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Home---Landing" transform="translate(-843.000000, -3826.000000)"><g id="Chemical-Warfare" transform="translate(112.000000, 3457.000000)"><g id="Text" transform="translate(728.000000, 103.000000)"><g id="No-Chlorine" transform="translate(3.000000, 266.000000)"><g id="Icon/No-Chemicals"><g id="Icon/x"><circle id="Oval" fill="#162D4A" cx="12" cy="12" r="12"></circle><path d="M15.6,8.4 L8.4,15.6 L15.6,8.4 Z M8.4,8.4 L15.6,15.6 L8.4,8.4 Z" id="x-circle" stroke="#FFFFFF" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></path></g></g></g></g></g></g></g></svg>
          </div>{% endcomment %}
        </div>
      </div>
    {% endif %}
    <div class="f jcb aic pv1 ph2 phm4 header__container rel">
      <div class='abs top header__logo z1'>
        <a href='/'>{% include 'blume-logo' %}</a>
      </div>

      <div class='f jcb fw fill-x container--xl mha aic'>
        <div>
          <div class='navigation__toggle rel js-toggle-mobile'>
            <div class='navigation__toggle_lines abs fill-x fill-y fit f aic jcc'>
              <span class='navigation__lines' />
            </div>
          </div>
          <div class='pv1 navigation__left'>
            {% include 'navigation' %}
          </div>
        </div>
        <div class='f jce pv1 aic navigation__right'>
          <div class='navigation__right_links'>
            {% if shop.customer_accounts_enabled %}
              <ul class='f jce fw'>
                {% comment %}{% for link in linklists.main_menu_right.links %}
                  {% assign child_list_handle = link.title | handleize %}
                    <li class=" {% if link.active %}active{% endif %} mr1">
                      <a href="{{ link.url }}" class="bold caps">{{ link.title }}</a>
                    </li>
                {% endfor %}{% endcomment %}
                 <li class="  mr1">
                      <a href="/pages/ourstory" class="bold caps">Our Story</a>
                    </li>
                {% if customer %}
                  <li class='mr1'>
                    {% if customer.first_name != blank %}
                      <a href="/account" class='bold caps'>{{ 'layout.customer.account' | t }}</a>
                    {% else %}
                      <a href="/account" class="bold caps">{{ 'layout.customer.account' | t }}</a>
                    {% endif %}
                  </li>
                {% else %}
                  <li class='mr1'>
                    <a href="/account" class='bold caps'>Account</a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
          <div class='mr1'>
            <a class='header__search js-search-drawer-toggle rel no-ajax' href="/search">
              {% render 'icon-search' %}
            </a>
          </div>
          <a class='header__cart js-cart-drawer-toggle rel no-ajax' href="/cart">
            <svg class='abs top left' width="18px" height="21px" viewBox="0 0 18 21"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Navigation/Default/Navy" transform="translate(-1310.000000, -46.000000)" stroke="currentColor" stroke-width="1.43181818"><g id="Group-12" transform="translate(1311.000000, 47.000000)"><path d="M5.32907052e-15,4.22222222 L16,4.22222222 L16,19 L5.32907052e-15,19 L5.32907052e-15,4.22222222 Z M11.2,4.22222222 L11.2,0.469135802 C11.2,0.210039253 10.4836556,0 9.6,0 L6.4,0 C5.5163444,0 4.8,0.210039253 4.8,0.469135802 L4.8,4.22222222" id="briefcase"></path></g></g></g></svg>
            <span class='js-cart-count bold text'>{{ cart.item_count }}</span>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class='header__mobile bg-db fill-x fill-y fix js-mobile-header z4'>

    <div class='f mdrw-acc-wrap'>

      <style>
        .mdrw-accordion { 
            max-width: 500px;
            margin: 20px auto;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            overflow: hidden;
            width: 96%;
        }

        .mdrw-accordion-item {
            border-bottom: 1px solid #e0e0e0;
        }

        .mdrw-accordion-item:last-child {
            border-bottom: none;
        }

        .mdrw-accordion-header {
    padding: 10px 15px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.3s;
    color: #fff;
    font-size: 1.25rem;
}

        .mdrw-accordion-header:hover {
            background-color: transparent;
        }

        .mdrw-accordion-header::after {
            content: '+';
            font-size: 18px;
            transition: transform 0.3s;
        }

        .mdrw-accordion-item.active .mdrw-accordion-header::after {
            content: '-';
        }

        .mdrw-accordion-content {
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            background-color: transparent;
        }

        .mdrw-accordion-item.active .mdrw-accordion-content {
            padding: 5px 10px;
            max-height: 500px;
        }

        .mdrw-accordion-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .mdrw-accordion-list li {
            padding: 8px 0;
            color: #fff;
        }
       .mdrw-accordion-list li a { color: #fff; font-size: 1rem; }
        .mdrw-accordion-list li:hover {
            color: #000;
        }
    </style> 
       <div class="mdrw-accordion">
         <div class="mdrw-accordion-item">
            <div class="mdrw-accordion-header">Shop Blume</div>
            <div class="mdrw-accordion-content">
                <ul class="mdrw-accordion-list">
                    <li><a href="/pages/shop" style="background: #0e1f40; color: #fff;padding: 10px 10px 6px;background-size: 144px;animation: movebg 14s ease-in-out infinite;font-weight: 800;">SHOP </a></li>
                     
                    <li><a href="/collections/bundles">Shop Bundles </a></li>
                    <li><a href="/collections/meet-the-gang">All Products </a></li>
                    <li><a href="/pages/gifts" >Shop Gifts </a></li>
                </ul>
            </div>
        </div>
         
        <div class="mdrw-accordion-item">
            <div class="mdrw-accordion-header">Shop by Concern</div>
            <div class="mdrw-accordion-content">
                <ul class="mdrw-accordion-list">
                    <li><a href="/collections/best-selling-products-for-acne">Acne</a></li>
                    <li><a href="/collections/product-for-dark-spots">Dark Spots</a></li>
                    <li> <a href="/collections/best-selling-products-for-sensitive-skin">Sensitive Skin</a></li>
                    <li><a href="/collections/best-selling-products-for-dry-skin">Dry Skin</a></li>
                    <li><a href="/collections/best-selling-products-for-pores">Pores</a></li>
                </ul>
            </div>
        </div>
        <div class="mdrw-accordion-item">
            <div class="mdrw-accordion-header">Learn</div>
            <div class="mdrw-accordion-content">
                <ul class="mdrw-accordion-list">
                    <li> 
                  <a href="/pages/before-and-after">Before And After</a>
                </li>
                <li>
                  <a href="/pages/blumetopia">Blumetopia</a>
                </li>
                <li>
                  <a href="/pages/how-it-works">Why Blume</a>
               </li>
                <li>
                  <a href="/pages/our-story">Our Story</a>
                </li>
                <li>
                  <a href="/blogs/blume-university">Blog</a>
                </li>
                </ul>
            </div>
        </div>
         <div class="mdrw-accordion-item">
            <div class="mdrw-accordion-header">Contact</div>
            <div class="mdrw-accordion-content">
                <ul class="mdrw-accordion-list">
                    <li> 
          <a href="/pages/support">FAQ</a>
        </li>
        <li>
          <a href="/account">Account</a>
        </li>
        <li>
          <a href="/pages/stockists">Stockists</a>
        </li>
        <li>
          <a href="/pages/privacy">Privacy &amp; Terms</a>
        </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class='header__mobile_share fill-x mt2' style="padding: 0 15px;">
        {% include 'social-sharing' %}
      </div>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
        const accordionItems = document.querySelectorAll('.mdrw-accordion-item');
        
        // Open the first item by default
        if (accordionItems.length > 0) {
            accordionItems[0].classList.add('active');
        }
        
        accordionItems.forEach(item => {
            const header = item.querySelector('.mdrw-accordion-header');
            
            header.addEventListener('click', () => {
                // Close all other items
                accordionItems.forEach(otherItem => {
                    if (otherItem !== item) {
                        otherItem.classList.remove('active');
                    }
                });
                
                // Toggle current item
                item.classList.toggle('active');
            });
        });
    });
    </script>
    
   {% comment %}  <div class='f fw jcb header__mobile_content px1'>
      <div class='header__mobile_block cw al'>
        <h4 class='px0 mx0 mb05 bold'><a href='/pages/shop-products'  >BEST SELLERS </a></h4>
        {% comment %}
          Disable the link to the box
          <div>
            <a href='/pages/build-a-box' class='header__mobile_box'>Build a Box</a>
          </div>
        
        <div>
          <a href='/pages/shop-products'>Best Deals <span style="font-size: 10px; font-weight: 600;color: #fe0800;padding: 4px 9px;">50% OFF</span></a>
        </div>{% endcomment %}
        <div>
          <a href='/collections/bundles'>Shop Bundles <span style="font-size: 10px; font-weight: 600;color: #fe0800;padding: 4px 9px;"></span></a>
        </div>
        <div>
          <a href='/collections/meet-the-gang'>All Products <span style="font-size: 10px; font-weight: 600;color: #fe0800;padding: 4px 9px;"></span></a>
        </div>
        <div>
          <a href='/pages/gifts'>Shop Gifts</a>
        </div>
        <div>
          <a href='/pages/skin-quiz' target="_blank">Skin Quiz</a>
        </div>
      </div>
      <div class='header__mobile_block cw'>
        <h4 class='px0 mx0 mb05 bold' id='shop-by-concern'>Shop by Concern</h4>
        {% for link in linklists.shop-by-concern.links %}
          <div>
            <a href='{{ link.url }}'>{{ link.title }}</a>
          </div>
        {% endfor %}
      </div>
      <div class='header__mobile_block mt2 cw al'>
        <h4 class='px0 mx0 mb05 bold'>Contact</h4>
        <div>
          <a href='/pages/support'>FAQ</a>
        </div>
        <div>
          <a href='/pages/contact-us'>Contact Us</a>
        </div>
        <div>
          <a href='/account'>Account</a>
        </div>
        <div>
          <a href='/pages/stockists'>Stockists</a>
        </div>
        <div>
          <a href='/pages/privacy'>Privacy & Terms</a>
        </div>
      </div>
      <div class='header__mobile_block mt2 cw al'>
        <h4 class='px0 mx0 mb05 bold'>Learn</h4>
        <div>
          <a href='/pages/before-and-after'>Before And After</a>
        </div>
        <div>
          <a href='/pages/blumetopia'>Blumetopia</a>
        </div>
        <div>
          <a href='/pages/how-it-works'>Why Blume</a>
        </div>
        <div>
          <a href='/pages/our-story'>Our Story</a>
        </div>
        <div>
          <a href='/blogs/blume-university'>Blog</a>
        </div>
      </div>
      <div class='header__mobile_share fill-x mt2'>
        {% include 'social-sharing' %}
      </div>
    </div> {% endcomment %}
  </div>
</div>