{%- assign press_logos = section.blocks | map: 'settings' -%}

<style>
  .hero_bg {
    background-image: url({{ section.settings.image | img_url: '2000x' }});
  }

  @media (min-width: 37.5em){
    .hero__home.mobile__overlay .hero__text_overlay{
      display: none;
    }
  }

  @media (max-width: 37.5em){
    .hero__home.mobile__overlay{
      position: relative;
    }

    .hero__home.mobile__overlay .hero__module{
      min-height: 651px;
      background-position: 80%;
    }
  }

  .hero__home.mobile__overlay .hero__text_overlay{
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .hero__home.mobile__overlay .hero__text_overlay h1{
  
    text-align: center;
    font-size: 21.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    letter-spacing: -0.5px;
  }

  .hero__home.mobile__overlay .hero__text_overlay p{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: -0.27px;
    padding: 0 0;
    margin: 20px 0;
  }

  .hero__home.mobile__overlay .hero__text_overlay h1,
  .hero__home.mobile__overlay .hero__text_overlay p{
    color: {{ section.settings.mobile_overlay_color }};
  }

  .hero__home.mobile__overlay .hero__text_overlay a{
    min-width: 280px;
  }

  @media (max-width: 390px){
    .hero__home.mobile__overlay .hero__text_overlay a{
      max-width: 280px;
      min-width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .hero_bg {
      background-image: url({{ section.settings.image_mobile | img_url: '2000x' }});
    }
  }
</style>

<section class='hero__home mobile__{{ section.settings.mobile_structure }}' data-module='hero'>
  <div class='hero__module f px2 phm4 aic hero_bg' >
    <div class='container--xl mha fill-x hero__text_desktop'>
      <div class='container--ms'>
        <h1 class='mx0 px0 serif h1-hero'>{{ section.settings.heading }}</h1>
        <h5 class='ls0'>{{ section.settings.subheading }}</h5>
        <div class='hero__btn'>
          <a href='{{ section.settings.button_url }}' class='btn btn__blue bold'>{{ section.settings.button_text }}</a>
        </div>
        <p class="hero__social">5000+ 5 star reviews ⭐️⭐️⭐️⭐️⭐️</p>

        
        <div class="hero__logos">
          {% if press_logos.size > 0 %}
            <div class="hero__logos">
              {%- for logo in press_logos -%}
                {% if logo.logo %}
                  <div>{{ logo.logo | image_url: width: 400 | image_tag: height: 70 }}</div>
                {% endif %}
              {%- endfor -%}
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  {% if section.settings.mobile_structure == 'block' %}
    <div class='hero__text_mobile bg-lp px2'>
      <div class='container--s'>
        <a href='{{ section.settings.button_url }}' class='btn btn__blue bold'>{{ section.settings.button_text }}</a>
        <p class="pt1">5000+ 5 star reviews ⭐️⭐️⭐️⭐️⭐️</p>
        
        <!-- <p class='caps bold mt1 pt1 pb2 s1'>Starting at $10.99/Month</p> -->
        <h1 class='mx0 mt1 px0 serif'>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.subheading }}</p>
        <div class="hero__logos">
          {% if press_logos.size > 0 %}
            <div class="hero__logos">
              {%- for logo in press_logos -%}
                {% if logo.logo %}
                  <div>{{ logo.logo | image_url: width: 400 | image_tag: height: 70 }}</div>
                {% endif %}
              {%- endfor -%}
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  {% else %}
    <div class='hero__text_overlay fill-x'>
      <div class='container--s mxa px2'>
        <h1 class='mx0 px0 serif'>{{ section.settings.heading }}</h1>
        <p>5000+ 5 star reviews</p>
        <a href='{{ section.settings.button_url }}' class='btn btn__blue bold'>{{ section.settings.button_text }}</a>
      </div>
    </div>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Self-care first, period"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Blume helps you customize your self-care routine for every day of the month."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Background Image"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Bundles"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Link"
      },
      {
        "type": "select",
        "id": "mobile_structure",
        "label": "Mobile Content Type",
        "options": [
          {
            "value": "block",
            "label": "Block"
          },
          {
            "value": "overlay",
            "label": "Overlay"
          }
        ],
        "default": "block",
        "info": "Overlay: content will overlay mobile image. Block: content will be placed in a block below mobile image."
      },
      {
        "type": "color",
        "id": "mobile_overlay_color",
        "label": "Mobile Overlay Color",
        "default": "#FFFFFF",
        "info": "Applies only if the Mobile Content Type is set to Overlay."
      }
    ],
    "blocks": [
      {
        "type": "press",
        "name": "Press Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo",
            "info": "Please upload a transparent PNG"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Hero",
      "category": "Hero"
    }]
  }
{% endschema %}

