<section class='bg-lp rel how'>
  <div class='px2 pm60 pl100 phm4 js-animate'>
    <div class='container--xl mha rel z2'>
      <div class='f fw jcb aic rel z2 how__flex fill-x'>
        <div>
          <div class='container--ms ti__text'>
            <p class='caps bold s1 mx0 px0 mb1'>{{ section.settings.sub_title }}</p>
            <h2 class='mx0 pt0 pb05 serif'>{{ section.settings.title }}</h2>
            <p class='pb1'>{{ section.settings.description }}</p>
            <div class='f fw jcs aic how__icons'>
              {% for block in section.blocks %}
                {% if block.type == 'icons' %}
                  <img class='mx05 lazyload' data-src="{{ block.settings.icon_image | img_url: '600x' }}" alt="" />
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class='container--m fill-x ti__image'>
          <div class='ac mha pt2 how__bottles'>
            <img class='fill-x lazyload' data-src="{{ section.settings.image | img_url: '1200x' }}" />
          </div>
        </div>
      </div>
      <div class='abs fill-x fill-y fill cp how__products_shapes'>
        {% include 'shape-one' %}
      </div>
    </div>
    <div class='container--xl mha f jcc fw fill-x how__fact_wrapper rel z2'>
      {% for block in section.blocks %}
        {% if block.type == 'facts' %}
          <div class='fill-x ac how__fact px1 mv1'>
            <div class='container--s mha'>
              <p class='caps bold s1 px0 mt0 mb05'>{{ block.settings.title }}</p>
              <p class='s1'>{{ block.settings.description }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class='abs left fill-x fill-y box__flow_wave clp'>
    <svg class='fill-x abs' width="1440px" height="1213px" viewBox="0 0 1440 1213"><defs><path d="M0,279.351562 C240,160.1867 480,100.604269 720,100.604269 C960,100.604269 1200,67.0695128 1440,0 L1440,1213 L0,1213 L0,279.351562 Z" id="path-1"></path></defs><g id="All-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Shop-Products-2---Landing" transform="translate(0.000000, -3911.000000)"><g id="Blume-Box" transform="translate(0.000000, 3134.000000)"><g id="Backgound-Elements" transform="translate(0.000000, 134.000000)"><g id="Cream-Wave-and-Navy-Blob" transform="translate(0.000000, 643.000000)"><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Cream-Background-Wave" fill="currentColor" xlink:href="#path-1"></use></g></g></g></g></g></svg>
  </div>
</section>

{% schema %}
  {
    "name": "How Products",
    "max_blocks": 10,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Heading",
        "default": "Don't wage.."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Don't wage.."
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Don't wage.."
      }
    ],
    "blocks": [
      {
        "type": "facts",
        "name": "facts",
        "settings": [
          {
            "label": "Title",
            "type": "text",
            "id": "title"
          },
          {
            "label": "Description",
            "type": "textarea",
            "id": "description"
          }
        ]
      },
      {
        "type": "icons",
        "name": "icons",
        "settings": [
          {
            "label": "Icon",
            "type": "image_picker",
            "id": "icon_image"
          }
        ]
      }
    ],
    "presets": [{
      "name": "How Products",
      "category": "sections",
      "blocks": [
        {
          "type": "facts"
        },
        {
          "type": "icons"
        }
      ]
    }]
  }
{% endschema %}
