<br><br>
<section class='talk bg-lp px2  z5 phm4 pm60 pl100 rel' data-module='realTalk'>
  <div class='abs left fill-x fill-y clp talk__bar'>
    <svg class='fill-x bg-bf abs' width="1440px" height="1213px" viewBox="0 0 1440 1213"><defs><path d="M0,279.351562 C240,160.1867 480,100.604269 720,100.604269 C960,100.604269 1200,67.0695128 1440,0 L1440,1213 L0,1213 L0,279.351562 Z" id="path-1"></path></defs><g id="All-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Shop-Products-2---Landing" transform="translate(0.000000, -3911.000000)"><g id="Blume-Box" transform="translate(0.000000, 3134.000000)"><g id="Backgound-Elements" transform="translate(0.000000, 134.000000)"><g id="Cream-Wave-and-Navy-Blob" transform="translate(0.000000, 643.000000)"><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Cream-Background-Wave" fill="currentColor" xlink:href="#path-1"></use></g></g></g></g></g></svg>
  </div>
  <div class='container--xl rel z2 mha'>
    <div>
      <div class='al container--sm talk__header x f jcs ais'>
        <h2 class='mb1 px0 serif'>{{ section.settings.title }}</h2>
        <img class='fill-x talk__icon lazyload' data-src="{{ section.settings.image | img_url: '600x' }}" />
      </div>
      <div class='f jcb ais fw real__wrapper rel'>
        {% if section.blocks.size > 0 %}
          <div class='real__controls ar abs top mr1 right f jce aic'>
            <div class='real__controls-left bg-o cw inline-block f jcc aic rotate js-left-slides'>
              <svg width="9px" height="15px" viewBox="0 0 9 15">
                <g id="2019-Site-Updates" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polyline id="Rectangle-11" stroke='currentColor' stroke-width="2"
                    transform="translate(0.926461, 7.754586) scale(-1, 1) rotate(-315.000000) translate(-0.926461, -7.754586) "
                    points="5.42646103 12.254586 -3.57353897 12.254586 -3.57353897 3.25458603 -3.57353897 3.25458603"></polyline>
                </g>
              </svg>
            </div>
            <div class='real__controls-right ml1 bg-o cw inline-block f jcc aic js-right-slides'>
              <svg width="9px" height="15px" viewBox="0 0 9 15">
                <g id="2019-Site-Updates" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polyline id="Rectangle-11" stroke='currentColor' stroke-width="2"
                    transform="translate(0.926461, 7.754586) scale(-1, 1) rotate(-315.000000) translate(-0.926461, -7.754586) "
                    points="5.42646103 12.254586 -3.57353897 12.254586 -3.57353897 3.25458603 -3.57353897 3.25458603"></polyline>
                </g>
              </svg>
            </div>
          </div>
          <div class='real__slides x rel'>
            <div class='js-slideshow-active o-h real__slides-main'>
              {% for block in section.blocks %}
              <div class='x'>
                <div class='talk__image y x'>
                  <img class='x y lazyload' data-src="{{ block.settings.image | img_url: '600x' }}" />
                </div>
              </div>
              {% endfor %}
            </div>
            <div class='js-slideshow-inactive o-h real__slides-second'>
              {% for block in section.blocks %}
              <div class='x'>
                <div class='talk__image'>
                  <img class='x lazyload' data-src="{{ block.settings.image | img_url: '600x' }}" />
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if section.blocks.size > 0 %}
          <div class='real__text x'>
            {% for block in section.blocks %}
              <div class='f jcb talk__single js-single-text fw pv2 {% if forloop.index0 == 0 %}active{% endif %}'>
                <div class='talk__single_text_container'>
                  <div class='talk__single_text'>
                    <p class=''>{{ block.settings.review }}</p>
                    <img class=' talk__squiggle mt1' src="{{ block.settings.squiggle | img_url: '600x' }}" />
                    <h6 class='caps black  mt1 ls1'>{{ block.settings.name }}</h6>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Real Talk",
    "max_blocks": 9,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Don't wage.."
      }
    ],
    "blocks": [{
      "type": "list",
      "name": "Real Talk",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "squiggle",
          "label": "Squiggle"
        },
        {
          "type": "textarea",
          "id": "review",
          "label": "Review"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        }
      ]
    }],
    "presets": [{
      "name": "Real Talk",
      "category": "sections"
    }]
  }
{% endschema %}