<section class='rel z1'>
  <div class='topia__how-marquee'>
    <div class='topia__how-text x f jcb'>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
      <h5 class='caps mono small'>How it Works</h5>
    </div>
    <div class='topia__how-image mt1 pt05'>
      <img class="lazyload" data-src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/how_trees.png?50606' alt='palm tree illustrations' />
      <img class="lazyload" data-src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/how_trees.png?50606' alt='palm tree illustrations' />
      <img class="lazyload" data-src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/how_trees.png?50606' alt='palm tree illustrations' />
    </div>
  </div>
  <div class='container--l topia__how-flex f jcb ais fw mxa px15 pm100 pl100 ptl160' data-module='topiaBox'>
    <div class='ac px5 topia__box-mobile'>
      <h2 class='cooper h2 mb0 pb0'>{{section.settings.heading}}</h2>
      <p class='mt05 pt0 mb1 pb1'>{{section.settings.description}}</p>
    </div>
    <div class='topia__box-wrapper topia__box-left container--s rel' >
      <div class='topia__box rel z3'>
        <div class='topia__box-header px1 f x aic jcb bgtb'>
          <div class='topia__box-lines rel pr1'></div>
          <h5 class='mono caps mx0 px0 pl1'>Earn Blume Bucks</h5>
        </div>
        <div class='topia__box-content bg-w'>
          <div class='topia__box- mono'>
            {% for item in section.blocks %}
              <div class='f jcb aic topia__box-row'>
                <h5 class='mx0 px05'>{{item.settings.title}}</h5>
                <h5 class='mx0 px05'>{{item.settings.amount}}</h5>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class='topia__box-two z2 abs x y top left bgty'></div>
      <div class='topia__box-three z1 abs x y top left bgtp'></div>
    </div>
    <div class='rel mt1 pt1 x topia__how-content'>
      <div class='topia__box-desktop'>
        <div class='al px5'>
          <h2 class='cooper h2 mb0 pb0'>{{section.settings.heading}}</h2>
          <p class='mt05 pt0 mb1 pb1'>{{section.settings.description}}</p>
        </div>
      </div>
      <div class='rel topia__how-lifestyle mxa'>
        <img class='topia__how-star abs z2 top left lazyload' data-src='{{section.settings.icon | img_url: '50x' }}' alt='' />
        <img class='x lazyload' data-src='{{section.settings.image | img_url: '600x' }}' alt=''>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Topia How",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Start by earning BB’s lorem ipsum dolor sit"
      },
      {
        "type": "text",
        "id": "description",
        "label": "description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et vestibulum turpis."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Paired Image"
      },
      {
        "type": "image_picker",
        "id": "icon",
        "label": "Paired Icon"
      }
    ],
    "blocks": [{
      "type": "list",
      "name": "Point Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "amount",
          "label": "Point Value"
        }
      ]
    }],
    "presets": [{
      "name": "Topia How",
      "category": "Topia"
    }]
  }
{% endschema %}
