<div class='subway bg-lp' data-module='subway'>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
  <div class='cw subway__hero f jcc aic' style="background-image: url({{ 'subway_hero.static.jpg' | asset_url }})">
    <div class='subway__hero-video x y top left'>
      <div id='player' data-plyr-provider='vimeo' data-plyr-embed-id='358850025'></div>
    </div>
    <div class='container--mm px15 ac rel z3 subway__d-show mxa'>
      <h1 class='cooper mx0 px0'>2019 is like 2004 but with dewier skin, faster internet, more therapy, and Blume.</h1>
      <p class=''>It’s about time for a puberty do-over.</p>
      <div class='' data-component='productQuick'>
        {% assign richProduct = all_products['meltdown'] %}
        {%- assign current_variant = richProduct.selected_or_first_available_variant -%}
        <script class='js-product-json' type='text/template'>
          {
            "selectedOrFirstAvailableVariant": {{ current_variant.id | json }},
            "product": {{ richProduct | json }}
          }
        </script>
        <div class='fill-x z5 px1 {% if productTags contains 'no-add' %}none{% endif %}'>
          <a href='' class='btn js-add-to-cart bold btn-subway fill-x'>Buy Meltdown</a>
        </div>
      </div>
    </div>
  </div>
  <div class='container--mm px15 bg-lp ac rel z3  mt15 mxa subway__m-hide'>
    <h1 class='cooper mx0 px0'>2019 is like 2004 but with dewier skin, faster internet, more therapy, and Blume.</h1>
    <p class=''>It’s about time for a puberty do-over.</p>
    <div class='' data-component='productQuick'>
      {% assign richProduct = all_products['meltdown'] %}
      {%- assign current_variant = richProduct.selected_or_first_available_variant -%}
      <script class='js-product-json' type='text/template'>
            {
              "selectedOrFirstAvailableVariant": {{ current_variant.id | json }},
              "product": {{ richProduct | json }}
            }
          </script>
      <div class='fill-x z5 px1 {% if productTags contains 'no-add' %}none{% endif %}'>
        <a href='' class='btn js-add-to-cart bold btn-subway fill-x'>Buy Meltdown</a>
      </div>
    </div>
  </div>
  <div class='subway__product px15 bg-lp h-h rel'>
    <div class='container--xl mha rel'>
      <div class='f fw jcb aic subway__product-split reverse'>
        <div class='subway__d-show'>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/june-blume-61.jpg?45308' />
        </div>
        <div class='ac'>
          <h2 class='cooper mx0 px0'>Nostalgia is a vibe, but pimples can make you feel like puberty isn’t over.</h2>
          <p>Turn acne into throwbackne (!) and clear things up with Meltdown, an all-natural facial oil made to combat all kinds of zits (even hormonal and cystic ones), without greasing you up or drying you out.</p>

        <div class='subway__m-hide'>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/june-blume-61.jpg?4530' />
        </div>
          <a href='/products/meltdown' class='btn btn-subway mt1 bold'>Try Meltdown</a>
        </div>
      </div>
    </div>
    <div class='container--l ac mha px15  subway__quote rel'>
      <div class='subway__stars'>
        <img src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/star.png?44243' />
        <img src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/star.png?44243' />
        <img src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/star.png?44243' />
        <img src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/star.png?44243' />
        <img src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/star.png?44243' />
      </div>
      <h4 class='cooper italic mx0 px0'>“I cannot believe the results I’ve seen in just the first month. Meltdown came to my rescue and made my skin look
      better, brighter, and clearer than it did on meds.”</h4>
      <p>- Cara C.</p>
    </div>
  </div>
  <div class='px15 bg-lp h-h rel subway__d-show'>
    <div class='container--xl mha rel'>
      <div class='f fw jcb ais subway__split ac'>
        <div>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_photo_1.jpg?44186' />
          <p class='cooper italic'>Autoresponse from cry_me_a_rio: talk to the hand cuz the face is glistening~*</p>
        </div>
        <div>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_photo_2.jpg?44186' />
          <p class='cooper italic'>Autoresponse from xo_tayabutterfly: blume all day hit da cell</p>
        </div>
      </div>
    </div>
  </div>
  <div class='subway__product bottom  z2 px15 bg-lp h-h rel'>
    <div class='container--xl mha rel'>
      <div class='f fw jcb aic subway__product-split'>
        <div class='subway__d-show'>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/june-blume-35.jpg?45308' />
        </div>
        <div class='subway__m-hide'>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_photo_1.jpg?44186' />
        </div>
        <div class='ac'>
          <h2 class='cooper mx0 px0'>Same same, but different. This time, we Blume.</h2>
          <p>At Blume, we make products that are better than what we all got the first time around, for a more grown up glow up. Organic pads and tampons, natural, long-lasting deodorant, and skincare that keeps you dewy all day.</p>
          <a href='/pages/shop' class='btn btn-subway mt1 bold'>Try All Products</a>
        </div>
      </div>
    </div>
  </div>
  <div class='subway__comp px15 pm60' style='background-image: url(https://cdn.shopify.com/s/files/1/0003/4580/0755/files/composite_background.jpg?44243)'>
    <div class='container--l mha bg-w ac rel subway__comp-nested' style='background-image: url(https://cdn.shopify.com/s/files/1/0003/4580/0755/files/grids.png?44243)'>
      <div class='subway__comp-star abs right top mx1'>
        <img src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/star.png?44243' />
      </div>
      <div>
        <h2 class='cooper'>Sex education deserves a glow up, too.</h2>
        <p>Raise your hand if you learned more from American Pie than from health class! That movie would never fly in 2019, but totally absent or medically inaccurate sex education is still fine, apparently?</p>
        <p>We’ve developed a fun, free, factual sex ed curriculum for all.</p>
        <a href='https://thestatesofsexed.com' class='btn btn-subway mt1 bold' target='_blank'>Learn More</a>
      </div>
    </div>
  </div>
  <div class='px15 bg-lp h-h rel z2 subway__m-hide'>
    <div class='container--xl mha rel'>
      <div>
        <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_photo_2.jpg?44186' />
        <p class='cooper italic'>Autoresponse from xo_tayabutterfly: blume all day hit da cell</p>
      </div>
    </div>
  </div>
  <div class='px15 bg-lp pl100 rel z2 subway__d-show'>
    <div class='container--xl mha'>
      <div class='f fw ac jcb aic subway__portraits'>
        <div>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_bottom_1.jpg?44186' />
          <p class='s16 mt0 pt05'>maritzasays143: g2g glow up</p>
        </div>
        <div>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_bottom_2.jpg?44186' />
          <p class='s16 mt0 pt05'>chloe_athlete91: brb blume-ing</p>
        </div>
        <div>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_bottom_3.jpg?44186' />
          <p class='s16 mt0 pt05'>rupiipleasee: adding blume 2 my top 8</p>
        </div>
      </div>
    </div>
  </div>
  <div class='px15 bg-b cw pm60 ac rel z2 subway__mail'>
    <div class='container--l mha rel'>
      <div class='subway__comp-star abs left top mx1'>
        <img src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/star.png?44243' />
      </div>
      <div class='container--s mha'>
        <h3 class='h1 cooper mx0 px0'>You've got mail.</h3>
        <p>Alright. that's more 90s than 00s, but Yahoo & Hotmail don’t have catchy lines. Sign up for all the things.</p>
        <div class='subway__form mt1'>
          {% include 'newsletter-form' with 
            listId: 'KciKnr'
          %}
        </div>
      </div>
    </div>
  </div>
  <div class='px15 bg-lp pl100 rel z2 subway__m-hide'>
    <div class='container--xl mha'>
      <div class='f fw ac jcb aic subway__portraits'>
        <div>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_bottom_1.jpg?44186' />
          <p class='s16 mt0 pt05'>maritzasays143: g2g glow up</p>
        </div>
        <div>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_bottom_2.jpg?44186' />
          <p class='s16 mt0 pt05'>chloe_athlete91: brb blume-ing</p>
        </div>
        <div>
          <img class='x' src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/subway_bottom_3.jpg?44186' />
          <p class='s16 mt0 pt05'>rupiipleasee: adding blume 2 my top 8</p>
        </div>
      </div>
    </div>
  </div>
</div>